.App {
	/*background-color:darkgray;*/
	height:100%;
	background-image: linear-gradient(white,skyblue,lightblue);
}



h1 {
  color: white;
  text-align: center;
}

p {
  font-family: calibri;
  font-size: 20px;
}
.App-formLayout{
	position:relative;
	display:flex;
	float:left;
	padding:20px;
	background-color:white;
}

.App-main{
	position: relative;
	height:100%;
	background-image: linear-gradient(white,skyblue,lightblue);
	/* background-image:url("C:\Nodejs\react\IgnoreThisMessage\sms\src\download.jpg"); */
	/* background-position: center; /* Center the image */ 
	/* background-repeat: no-repeat; /* Do not repeat the image */ 
	/* background-size: cover; */
	align-items: right;
	justify-content: right;
	font-size: calc(10px + 2vmin);
	color:white;	
}

.App-footer {
	position:absolute;
	height:10%;
	width:100%;
	display: flex;
	flex-direction: column;
	background-color: black;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}


